body {
  font-family: sans-serif;
}
/* Webフォントを定義 */
@font-face {
  font-family: "myfont"; /* フォント名 */
  /* フォーマットごとにパスを指定 */
  src: url("../fonts/karakaze-R.ttf ") format("truetype");
  src: url("../fonts/karakaze-R.otf") format("opentype");
}
/* Webフォントを定義 */
@font-face {
  font-family: "hare"; /* フォント名 */
  /* フォーマットごとにパスを指定 */
  src: url("../fonts/Harenosora.otf") format("opentype");
}
.header {
  margin-bottom: 160px;
  text-align: center;
  position: relative;
  position: fixed;
  z-index: 100;
  top: 0;
}
#title {
  position: absolute;

  width: 80%;
  top: 60px;
  left: 95px;
}

.nav_toggle {
  display: block;

  width: 62px;
  height: 40px;
  position: fixed;
  left: 30px;
  top: 60px;
}
.nav_toggle i {
  position: absolute;

  display: block;
  transition: 0.5s;
  background-color: #05747f;
  width: 100%;
  height: 2px;
}
.nav_toggle i:nth-child(1) {
  top: 0;
}
.nav_toggle i:nth-child(2) {
  top: 0;
  bottom: 0;
  margin: auto;
}
.nav_toggle i:nth-child(3) {
  bottom: 0;
}

.nav {
  position: fixed;
  visibility: hidden;
}
.nav.show {
  opacity: 1;
  visibility: visible;
}

.nav_toggle.show i:nth-child(1) {
  transform: translateY(23px) rotate(-45deg);
}
.nav_toggle.show i:nth-child(2) {
  opacity: 0;
}
.nav_toggle.show i:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}

nav .nav_menu_ul {
  position: fixed;
  top: 150px;
  left: 0;
  padding: 15px;
  transition: 0.6s;
}

.nav_menu_li {
  list-style: none;
}
.nav_menu_li a {
  text-decoration: none;
  color: #05747f;
}

.header img {
  width: 100%;
}
.container {
  background-color: white;
  z-index: 1000000;
  position: relative;
  top: 640px;
}
/* （PC用）の記述 */
@media screen and (max-width: 1199.9x) {
  .container {
    top: 640px;
  }
}
/* （PC用）の記述 */
@media screen and (min-width: 1200px) and (max-width: 1499.9px) {
  .container {
    top: 700px;
  }
}
/* （モニター用）の記述 */
@media screen and (min-width: 1500px) and (max-width: 1800px) {
  .container {
    top: 800px;
  }
}
/* （モニター用）の記述 */
@media screen and (min-width: 1800px) and (max-width: 1920px) {
  .container {
    top: 900px;
  }
}

.navContain {
  background-color: white;
  z-index: 1000001;
  position: relative;
  top: 800px;
}
.box1 {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 40%;
  /* background-color: burlywood; */
  margin-bottom: 10%;
}
.box2 {
  position: absolute;
  background-color: cadetblue;
  height: 90%;
  top: 5%;
}
.right {
  right: 5%;
}
.left {
  left: 5%;
}
.aline_center {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.v_line_fix {
  width: 1px;
  height: 80%;
  background-color: white;
  margin-right: 10%;
  margin-left: 10%;
}
.text-area {
  position: absolute;
  background-color: #6eb5d1;
  opacity: 0.9;
  height: 60%;
  /* width: 45%; */
  top: 10%;

  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: "hare";
  color: white;
}
.text-left {
  left: 10%;
}
.text-right {
  right: 10%;
}
.image {
  text-align: center;
  width: 100%;
}
.image img {
  padding-top: 20px;
  margin-bottom: 160px;
  width: 80%;
}
.image img:hover {
  opacity: 0.6;
  transition: 0.6s;
}
.map img {
  width: 900px;
  margin-bottom: 160px;
}
.footer {
  text-align: center;
}
.footer h2 {
  letter-spacing: 0.2em;
  line-height: 1;
  padding-bottom: 30px;
  border-bottom: 1px solid #c8c8c8;
  color: #444444;
}
.titlecon {
  text-align: center;
}

.concrete {
  text-align: center;
}
h4 {
  color: #6f6d6d;
  font-family: YakuHanJP, Meiryo, sans-serif;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 80px;
}

.map {
  text-align: center;
}

/*========= 1文字ずつ出現させるためのCSS ===============*/

.eachTextAnime span {
  opacity: 0;
}
.eachTextAnime.appeartext span {
  animation: text_anime_on 1s ease-out forwards;
}
@keyframes text_anime_on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
